name: Build demo cordova

on:
  workflow_dispatch:
    inputs:
      package:
        description: 'package app'
        required: true
      name:
        description: 'app name'
        required: true
      email:
        description: 'gmail'
        required: true
      accid:
        description: 'accId'
        required: false

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      TELE_TOKEN: ${{ secrets.TELE_TOKEN }}
      TELE_CHATID: ${{ secrets.TELE_CHATID }}

    steps:

      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup java
        uses: actions/setup-java@v4
        with:
            distribution: 'temurin'
            java-version: '11'

      #- name: Setup Android SDK
      #  uses: android-actions/setup-android@v3
      #  with:
      #    sdk-version: '31'

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          extensions: curl

      #- name: Use oxr463/setup-cordova
      #  uses: oxr463/setup-cordova@0.0.3
      - name: Run
        env:
          accid: ${{ github.event.inputs.accid }}
          email: ${{ github.event.inputs.email }}
          name: ${{ github.event.inputs.name }}
          package: ${{ github.event.inputs.package }}
          secret: ${{ secrets.REST_SECRET }}
        run: |
          bash build.sh

      - name: Notify on Slack
        uses: act10ns/slack@v1
        with:
          status: ${{ job.status }}
          steps: ${{ toJson(steps) }}
        if: always()
