name: Build demo native

on:
  workflow_dispatch:
    inputs:
      package:
        description: 'package app'
        required: true
      name:
        description: 'app name'
        required: true
      email:
        description: 'gmail'
        required: true
      accid:
        description: 'accId'
        required: false
jobs:
  build:

    runs-on: ubuntu-latest
    env:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      TELE_TOKEN: ${{ secrets.TELE_TOKEN }}
      TELE_CHATID: ${{ secrets.TELE_CHATID }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup java
        uses: actions/setup-java@v4
        with:
            distribution: 'temurin'
            java-version: '17'
      
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          extensions: curl gd

      - name: Run
        env:
          accid: ${{ github.event.inputs.accid }}
          email: ${{ github.event.inputs.email }}
          name: ${{ github.event.inputs.name }}
          package: ${{ github.event.inputs.package }}
          secret: ${{ secrets.REST_SECRET }}
        run: |
          bash build2.sh

      - name: Notify on Slack
        uses: act10ns/slack@v1
        with:
          status: ${{ job.status }}
          steps: ${{ toJson(steps) }}
        if: always()
