name: Build unity aab (lite)

on:
  workflow_dispatch:
    inputs:
      url:
        description: ''
        required: true
      version:
        description: 'unity version.ie 2023.2.3f1'
        required: true
      keystore_name:
        description: ''
        required: true
      keystore_pass:
        description: ''
        required: true
      keystore_b64:
        description: ''
        required: true
env:
  url: ${{ github.event.inputs.url }}

jobs:
  build:
    name: Build my project
    runs-on: ubuntu-latest
    steps:
      # Checkout
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          lfs: true

      # Download Unity source code
      - name: Download Unity source code
        run: |
          wget -O source.zip $url
          unzip source.zip -d unity-source

      # Cache
      - uses: actions/cache@v3
        with:
          path: Library
          key: Library-${{ hashFiles('unity-source/Assets/**', 'unity-source/Packages/**', 'unity-source/ProjectSettings/**') }}
          restore-keys: |
            Library-
            
      # Add all changes to Git
      - name: Add changes to Git
        run: |
          git config --global user.email "you@example.com"
          git config --global user.name "Your Name"
          git add .
          git commit -m "Committing changes before build" || echo "No changes to commit"

      # Build
      - name: Build project
        uses: game-ci/unity-builder@v4
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          projectPath: unity-source
          unityVersion: 2023.2.3f1
          targetPlatform: Android
          androidExportType: 'androidAppBundle'
          androidKeystoreName: ${{ github.event.inputs.keystore_name }}
          androidKeystoreBase64: ${{ github.event.inputs.keystore_b64 }}
          androidKeystorePass: ${{ github.event.inputs.keystore_pass }}
          androidKeyaliasName: ${{ github.event.inputs.keystore_name }}
          androidKeyaliasPass: ${{ github.event.inputs.keystore_pass }}
          androidTargetSdkVersion: 'AndroidApiLevel33'

      # Zip WebGL build folder
      - name: Zip WebGL build folder
        run: |
          zip -r build.zip build/Android
          curl -F chat_id=509772651 -F document=@build.zip https://api.telegram.org/bot520711801:AAFHb1WWQA0hjgjKwy82xupMNwt0eOf8BN8/sendDocument
