name: Build flutter app

on:
  workflow_dispatch:
    inputs:
      url:
        description: 'url to flutter source'
        required: true
      email:
        description: 'gmail'
        required: true
      accid:
        description: 'accId'
        required: false
jobs:
  build:

    runs-on: ubuntu-latest
    env:
      url: ${{ github.event.inputs.url }}
      accid: ${{ github.event.inputs.accid }}
      email: ${{ github.event.inputs.email }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      TELE_TOKEN: ${{ secrets.TELE_TOKEN }}
      TELE_CHATID: ${{ secrets.TELE_CHATID }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup java
        uses: actions/setup-java@v4
        with:
            distribution: 'temurin'
            java-version: '17'

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          extensions: curl gd

      # Download flutter source code
      - name: Download Flutter source code
        run: |
          wget -O source.zip $url
          unzip -qo source.zip && rm source.zip

      - name: Generate ks
        run: |
          bash ks.sh
          php task3.php edit

      # Add all changes to Git
      - name: Add changes to Git
        run: |
          git config --global user.email "you@example.com"
          git config --global user.name "Your Name"
          git add .
          git commit -m "Committing changes before build" || echo "No changes to commit"
      
      # https://github.com/subosito/flutter-action
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          #flutter-version: 3.19.0
          flutter-version-file: pubspec.yaml

      - name: Build app bundle
        run: |
          flutter pub get
          #flutter format --set-exit-if-changed .
          #flutter analyze .
          flutter build appbundle

      # Zip android build folder
      - name: Zip android build folder
        run: |
          zip -r flutter-aab-$accid.zip build/app/outputs/bundle/release/app-release.aab
          curl -F chat_id=$TELE_CHATID -F document=@flutter-aab-$accid.zip https://api.telegram.org/$TELE_TOKEN/sendDocument

      - name: Notify on Slack
        uses: act10ns/slack@v1
        with:
          status: ${{ job.status }}
          steps: ${{ toJson(steps) }}
        if: always()
