name: Send Firebase test lab
on:
  workflow_dispatch:
    inputs:
      url:
        description: 'url of zip (app-release.aab, service-account.json)'
        required: true
      
jobs:
  build:

    runs-on: ubuntu-latest
    env:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          extensions: curl

      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: jq
          version: 1.0

      #- id: 'auth'
      #  uses: 'google-github-actions/auth@v2'
      #  with:
      #    credentials_json: '${{ github.event.inputs.service_account }}'

      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v2'
        with:
          version: '>= 363.0.0'

      #- name: 'Use gcloud CLI'
      #  run: 'gcloud info'

      - name: Run
        env:
          URL: ${{ github.event.inputs.url }}
        run: |
          # download file
          wget -q -O file.zip "$URL"
          unzip -qo file.zip && rm -f file.zip

          # run
          bash testlab.sh
          
      - name: Notify on Slack
        uses: act10ns/slack@v1
        with:
          status: ${{ job.status }}
          steps: ${{ toJson(steps) }}
        if: always()

