name: Check new mail
on:
  workflow_dispatch:
    inputs:
      token:
        description: 'token file content'
        required: true
      email:
        description: 'user gmail'
        required: false

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          extensions: curl

      - name: Run check
        env:
          TOKEN: ${{ github.event.inputs.token }}
          EMAIL: ${{ github.event.inputs.email }}
          TELE_TOKEN: ${{ secrets.TELE_TOKEN }}
          TELE_CHATID: ${{ secrets.TELE_CHATID }}
        run: |
          # install deps
          wget -q https://storage.googleapis.com/oauth2l/latest/linux_amd64.tgz
          tar -xvf linux_amd64.tgz && rm -f linux_amd64.tgz
          mv linux_amd64/* . && rm -r linux_amd64

          echo "$TOKEN" > tokenfile
          token=$(./oauth2l fetch --type oauth --credentials client.json --scope "$scope" --cache tokenfile --refresh)

          # check new mail: [[ -z $token ]] && 
          php testmail.php "$token" "$EMAIL" "$TELE_TOKEN" "$TELE_CHATID"

      - name: Notify on Slack
        uses: act10ns/slack@v1
        with:
          status: ${{ job.status }}
          steps: ${{ toJson(steps) }}
        if: always()
